/* ==========
    common
   ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}


/* ==========
    slider
   ========== */

.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 90%;
  margin: 20px auto;
  /* border: 2px solid rgb(3, 3, 3); */
}
.container::after {
  content: '';
  display: table;
  clear: both;
}


/* ==========
    images
   ========== */

.images{
  height: 514px;
  display: flex;
  align-items: center;
}
.images img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 800px;
  height: 100%;
}
.colonna-thumb {
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.thumb img {
  width: 200px;
  height: 100px;
  filter: grayscale(100%);
}
.active img {
  filter: none;
}


/* ==========
    button
   ========== */
.pulsante{
  font-size: 25px;
  position: absolute;
  color: rgba(250, 250, 250, .5) ;
  padding: 4px;
  border-radius: 20%;
  z-index: 2;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .5);
}
.up {
  top: 10px;
  right: 90px;
}
.up:hover{
  color: white;
  background-color: rgba(0, 0, 0, .8);
}
.down {
  bottom: -5px;
  right: 85px;
}
.down:hover{
  color: white;
  background-color: rgba(0, 0, 0, .8);
}